input[type="range"]{
    height: 10px;
    width: 100%;
    border-radius: 15px;
    display:block;
    margin:2;
    -webkit-appearance: none;
    background-image:linear-gradient(to right, var(--color)  calc(var(--value)*10%), white 0);

  }